body {
	background-color: #f5c7c2;
}

.card-login {
	margin-top: 5rem;
}

.card-header {
	background-color: #f8a5b3;
}

.card-header h3 {
	color: white;
}

.btn-primary {
	background-color: #f54764;
	border-color: #ff4d6a;
}

.btn-primary:hover {
	background-color: #f72852;
	border-color: #f72852;
}
