
.nav {
    display: flex;
}

.header-area{
    background-color: rgb(221, 45, 74);
    justify-content: flex-start;
    top: 0;
    
}

.background-header{
    background-color: rgb(238, 45, 94) !important;
}
